:root {
	--white: #ceceb5;
	--dark-white: #6f6f6f;
	--light-gray: #2e2e2e;
	--gray: #2a2a2a;
	--dark-gray: #1b1b1b;
	--light-black: #111111;

	--green: #82b423;
	--light-red: #ab785b;
}

body {
	background-color: var(--dark-gray);
	color: var(--white);

	font-family: Helvetica;
}

h1 {
	font-size: 55px;
	font-weight: bold;
	user-select: none;
}

a {
	color: var(--white);
	user-select: none;
}

header {
	margin-bottom: 40px;
}

/* nav panel */
nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.nav-elem {
	font-size: 25px;
	margin: 10px 15px;
}

.nav-elem a {
	display: block;
	width: 100%;
	height: 100%;

	color: var(--white);
}

.right-nav-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* logo image in nav panel */
.logo {
	flex-grow: 1;
}

.logo a img,
.profile a img {
	width: 64px;
}

/* text button element of nav panel */
.nav-menu-button-elem {
	margin: 10px 0;
}

.nav-menu-button-elem a {
	border-radius: 20px;

	padding: 0 30px;
	align-content: center;

	display: flex;
	align-items: center;
}

.nav-menu-button-elem a svg {
	height: 36px;
	width: 36px;
}

.nav-menu-button-elem a:hover svg {
	fill: var(--light-red);
}


/* main title for every page in header */
.title {
	text-align: center;
}


/* text with accent (used in span) */
.accent {
	font-style: italic;
	color: var(--light-red);
}

.success {
	color: var(--green);
}


/* main container */
.content {
	text-align: center;
}

.content>* {
	margin-left: auto;
	margin-right: auto;
}

/* every movie and person poster */
.movie-poster,
.movie-poster-big,
.person-poster,
.person-poster-big,
.movie-poster-small {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}

.movie-poster,
.person-poster,
.movie-poster-small {
	align-self: center;
}

/* every movie poster size in movie lists */
.movie-poster img {
	height: 300px;
	width: 200px;
}

/* every movie poster size in movie info && person poster size in person info */
.movie-poster-big img,
.person-poster-big img {
	height: 600px;
	width: 400px;
}

/* every director/actor poster */
.person-poster img,
.movie-poster-small img {
	height: 180px;
	width: 120px;
}

.non-visible {
	display: none;
}

.page-error-container {
	width: 50%;
}

.page-error-container h3 {
	font-size: 23px;
	margin-bottom: 5px;
}

/* for width to 750px and less */
@media screen and (max-width: 750px) {
	h1 {
		font-size: 40px;
	}

	.nav-elem {
		margin: 10px 9px;
	}

	.nav-menu-button-elem a {
		padding: 0 5px;
	}

	.logo a img,
	.profile a img {
		width: 48px;
	}

	.nav-menu-button-elem a svg {
		height: 27px;
		width: 27px;
	}

	.movie-poster img {
		height: 165px;
		width: 110px;
	}

	.movie-poster-big img,
	.person-poster-big img {
		height: 330px;
		width: 220px;
	}

	.person-poster img,
	.movie-poster-small img {
		height: 135px;
		width: 90px;
	}

	.page-error-container {
		width: 90%;
	}
}

/* for width from 750px and more */
@media screen and (min-width: 750px) {
	.nav-menu-button-elem a:hover {
		background-color: var(--light-gray);
	}
}