h4 {
	font-size: 23px;
	margin: 20px;
}

p {
	margin-bottom: 15px;
}

/* logout button */
.link-button {
	margin: 20px 0;
}
.link-button a {
	font-size: 23px;
	border-radius: 20px;
	background-color: var(--light-gray);

	height: 80%;
	padding: 12px 30px;
	align-content: center;
}
.link-button a:hover {
	background-color: var(--gray);
}


/* for width to 750px and less */
@media screen and (max-width: 750px) {
	h4 {
		font-size: 21px;
	}

	.link-button a {
		font-size: 20px;
	}
}
