h4 {
	font-size: 23px;
	margin: 10px;
}

/* logout button */
.link-button {
	margin: 20px 0;
	font-size: 23px;
	border-radius: 20px;
	background-color: var(--light-gray);

	height: 80%;
	padding: 12px 30px;
	align-content: center;
}

.link-button:hover {
	background-color: var(--gray);
}

#change-passwd-form {
	margin-top: 100px;
}

#change-passwd-form button {
	margin: 20px 0;
	padding: 10px 25px;

	font-size: 23px;
	border-radius: 15px;
	background-color: var(--light-gray);
	user-select: none;
}

#change-passwd-form button:hover {
	background-color: var(--gray);
}

.change-passwd {
	margin-bottom: 20px;
}


/* for width to 750px and less */
@media screen and (max-width: 750px) {
	h4 {
		font-size: 21px;
	}

	.link-button a {
		font-size: 20px;
	}

	#change-passwd-form {
		margin-top: 20px;
	}
}