h3 {
	font-size: 30px;
	user-select: none;
}

.flex-content {
	margin: auto 15px 150px 15px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-content>* {
	margin-bottom: 15px;
}

.search-form {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-input {
	flex-grow: 1;
	margin-right: 10px;
	height: 100%;
	padding: 6px 5px;
	min-width: 210px;


	font-size: 20px;
	border: solid 3px var(--light-gray);
	border-radius: 15px;
	color: var(--dark-white);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-input>* {
	margin: auto 10px;
}

.form-input input {
	flex-grow: 1;
}

.form-input img {
	height: 36px;
	width: 36px;
}

#search-keyword {
	width: 100px;
}

/* submit button in form */
button[type="submit"] {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	height: 100%;

	flex-shrink: 1;
	padding: 13px 3%;

	font-size: 23px;
	border-radius: 15px;
	background-color: var(--light-gray);
	user-select: none;
}

button[type="submit"]:hover {
	background-color: var(--gray);
}

/* for width to 750px and less */
@media screen and (max-width: 750px) {
	h3 {
		font-size: 25px;
	}

	.flex-content {
		margin: auto 10px 150px 10px;
	}

	.form-input {
		font-size: 18px;
	}

	button[type="submit"] {
		padding: 13px 5%;
	}
}