form {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 40%;
	margin: auto;
}

.form-elem {
	width: 100%;
}

.form-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-input {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

input {
	margin: 5px 0;
	padding: 8px 15px;

	font-size: 20px;
	border: solid 3px var(--light-gray);
	border-radius: 15px;
}

label {
	margin: 10px 10px 5px 10px;
}

button[type="submit"] {
	margin: 40px 0 20px 0;
	padding: 10px 25px;

	font-size: 23px;
	border-radius: 15px;
	background-color: var(--light-gray);
}
button[type="submit"]:hover {
	background-color: var(--gray);
}

.to-signup,.to-login {
	display: flex;
	justify-content: center;
}
.to-signup *, .to-login * {
	margin: auto 5px;
}

.to-signup a, .to-login a {
	color: var(--light-red);
}
.to-signup a:hover, .to-login a:hover {
	text-decoration: underline;
}
