<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	{% block css %}{% endblock %}
	<script type="text/javascript" src="/static/js/base.js"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<nav>
			<div class="logo-container">
				<button class="nav-elem logo"><a href="/">
					<img src="/favicon.ico" alt="logo">
				</a></button>
			</div>
			<div class="right-nav-container">
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-search-link" href="/movie/search">search</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-stared-link" href="/user-movie/stared">stared</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-want-link" href="/user-movie/want">want</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-watched-link" href="/user-movie/watched">watched</a>
				</button>

				<button class="nav-elem profile"><a href="/user/profile">
					<img src="/static/img/profile.svg" alt="profile">
				</a></button>
			</div>
		</nav>

		<h1 class="title">Filmer</h1>
	</header>

	{% block content %}{% endblock %}

	<script type="text/javascript">
		// add page GET query-params to POST request
		function addQueryParamsToForm(formElem) {
			let paramsString = window.location.search;
			let searchParams = new URLSearchParams(paramsString);
			formElem.action = formElem.action + "?" + searchParams.toString();
		}
		// // select form elem
		// const formElem = document.querySelector('form');
		// if (formElem === undefined || formElem === null) {
		//     console.log("no one form on page")
		// } else {
		// 	formElem.addEventListener("submit", function(event) {
		// 	    event.preventDefault();
		// 	    // add page GET query-params to POST request
		// 	    let paramsString = window.location.search;
		// 	    let searchParams = new URLSearchParams(paramsString);
		// 	    formElem.action = formElem.action + "?" + searchParams.toString();
		// 	    // send form
		// 	    this.submit();
		// 	});
		// }
	</script>
</body>
</html>
