<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<script type="text/javascript" src="../static/js/base.js"></script>
	<title>Filmer</title>
</head>
<body>
	<header>
		<nav>
			<div class="logo-container">
				<button class="nav-elem logo"><a href="./index.html">
					<img src="../static/img/favicon.ico" alt="logo">
				</a></button>
			</div>
			<div class="right-nav-container">
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-search-link" href="#">search</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-stared-link" href="#">stared</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-want-link" href="#">want</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-watched-link" href="#">watched</a>
				</button>

				<button class="nav-elem profile"><a href="./profile.html">
					<img src="../static/img/header/profile.svg" alt="profile">
				</a></button>
			</div>
		</nav>

		<h1 class="title">Filmer</h1>
	</header>

	<!-- <img src="../static/img/non_poster.svg"> -->
</body>
</html>
