{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/signup_login.css">
{% endblock %}

{% block title %}Login | Filmer{% endblock %}

{% block content %}
<div class="content">
	<form onsubmit="addQueryParamsToForm(this)" action="/filmer/user/login" method="post">
		<div class="form-elem form-input-container">
			<div class="form-elem form-input">
				<label for="email">Email</label>
				<input class="form-elem" type="email" id="email" name="email" placeholder="user@example.com" required>
			</div>
			<div class="form-elem form-input">
				<label for="password">Password</label>
				<input class="form-elem" type="password" id="password" name="password" required>
			</div>
		</div>
		<button class="form-elem submit-btn" type="submit">Login</button>

		<div class="form-elem to-signup">
			<p>Do not have an account?</p>
			<a href="/filmer/user/sign-up">Sign up</a>
		</div>
	</form>
</div>
{% endblock %}