{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/person.css">
{% endblock %}

{% block title %}Person | Filmer{% endblock %}

{% block content %}
<div class="person-title">
	<div class="back-button-container">
		<div class="back-button-subcontainer">
			<a id="back-button" href="/filmer" onclick="onBackButtonClick()">
				<svg version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink">
					<path
						d="M28,14H8.8l4.62-4.62C13.814,8.986,14,8.516,14,8c0-0.984-0.813-2-2-2c-0.531,0-0.994,0.193-1.38,0.58l-7.958,7.958  C2.334,14.866,2,15.271,2,16s0.279,1.08,0.646,1.447l7.974,7.973C11.006,25.807,11.469,26,12,26c1.188,0,2-1.016,2-2  c0-0.516-0.186-0.986-0.58-1.38L8.8,18H28c1.104,0,2-0.896,2-2S29.104,14,28,14z" />
				</svg>
			</a>
		</div>
	</div>
	<h1>Filmer</h1>
</div>

<div class="content flex-content">
	<div class="person">
		<div class="person-poster-big">
			<img src='{{ person.imgURL }}'>
		</div>

		<div class="person-full-info">
			<div class="person-full-info-header">
				<h3 class="person-name"><span class="accent">{{ person.name }}</span></h3>
			</div>

			<div class="person-full-info-footer">
				<div class="person-facts">
					<ul>
						{% if person.facts|length == 0 %}
						<li class="person-fact-elem">
							<span class="accent">•</span>
							<div>Facts not found</div>
						</li>
						{% else %}
						{% for fact in person.facts %}
						<li class="person-fact-elem">
							<span class="accent">•</span>
							<div>{{ fact }}</div>
						</li>
						{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="person-info">
					<label>Career:</label>
					<p>{{ person.profession|default:"-" }}</p>

					<label>Sex:</label>
					<p>{{ person.sex|default:"-" }}</p>

					<label>Age:</label>
					{% if person.age == 0.0 %}
					<p>-</p>
					{% else %}
					<p>{{ person.age|floatformat:0 }}</p>
					{% endif %}

					<label>Birthday:</label>
					<p>{{ person.birthday|default:"-" }}</p>

					<label>Death:</label>
					<p>{{ person.death|default:"-" }}</p>
				</div>
			</div>
		</div>
	</div>

	{% if person.moviesDirector|length != 0 %}
	<h3 class="person-movie-header">Director of movies:</h3>
	<div class="person-movies movie-directors">
		{% for movie in person.moviesDirector %}
		<a class="movie" href="/filmer/user-movie/info/{{ movie.id|floatformat:0 }}">
			<div class="movie-poster-small">
				<img src='https://kinopoiskapiunofficial.tech/images/posters/kp_small/{{ movie.id|floatformat:0 }}.jpg'>
			</div>
			<p class="movie-title">{{ movie.title }}</p>
		</a>
		{% endfor %}
	</div>
	{% endif %}

	{% if person.moviesActor|length != 0 %}
	<h3 class="person-movie-header">Actor in movies:</h3>
	<div class="person-movies movie-actors">
		{% for movie in person.moviesActor %}
		<a class="movie" href="/filmer/user-movie/info/{{ movie.id|floatformat:0 }}">
			<div class="movie-poster-small">
				<img src='https://kinopoiskapiunofficial.tech/images/posters/kp_small/{{ movie.id|floatformat:0 }}.jpg'>
			</div>
			<p class="movie-title">{{ movie.title }}</p>
		</a>
		{% endfor %}
	</div>
	{% endif %}
</div>
<script type="text/javascript" src="/static/js/person.js"></script>
{% endblock %}