{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
{% endblock %}

{% block title %}Profile | Filmer{% endblock %}

{% block content %}
	<div class="content">
		<h4>You are already authorized as <span class="accent">{{ email }}</span></h4>

		<p id="session-expiration">
			Your session expires in
			<span id="days">{{ days }}</span>d
			<span id="hours">{{ hours }}</span>h
			<span id="minutes">{{ minutes }}</span>m
			<span id="seconds">{{ seconds }}</span>s
			<!-- <span id="hours">0</span>h
			<span id="minutes">0</span>m
			<span id="seconds">0</span>s -->
		</p>

		<form id="link-button-form" action="/user/logout" method="post">
			<button id="link-button" class="link-button" type="submit">Logout Now</button>
		</form>
	</div>

	<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}
