{% extends "base.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/search.css">
	<link rel="stylesheet" type="text/css" href="/static/css/list_movies.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pagination.css">
{% endblock %}

{% block title %}Search | Filmer{% endblock %}

{% block content %}
	<div class="content flex-content">
		<h3>Search movies</h3>

		<form onsubmit="addQueryParamsToForm(this)" class="search-form" action="" method="get">
			<div class="form-input">
				<img src="/static/img/search.svg">
				<input class="form-elem" type="text" id="search-keyword" name="q" placeholder="search movies">
			</div>
			<button class="form-elem" type="submit">Search</button>
		</form>

		{% if total or zeroResults %}
			<h4 id="found-total"><span class="accent">Found movies: {{ total|floatformat:0 }}</span></h4>
		{% endif %}

		<div class="list-movies list-movies-search">
		{% for movie in docs %}
			<a class="movie" href="/filmer/user-movie/info/{{ movie.id|floatformat:0 }}">
				<div class="movie-poster">
					<img src='{{ movie.poster.url|default:"/static/img/non_poster.svg" }}'>
				</div>
				<div class="movie-info">
					<div class="movie-info-item">
						<label class="movie-info-label">Title:</label>
						<p>{{ movie.name|default:"-" }}</p>
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Type:</label>
						{% if movie.type == "" %}
						    <p>-</p>
						{% elif movie.type == "movie" %}
							<p>фильм</p>
						{% elif movie.type == "tv-series" %}
							<p>сериал</p>
						{% elif movie.type == "cartoon" %}
							<p>мультфильм</p>
						{% elif movie.type == "anime" %}
							<p>аниме</p>
						{% elif movie.type == "animated-series" %}
							<p>мультсериал</p>
						{% endif %}
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Rating:</label>
						{% if movie.rating.kp == 0.0 %}
						    <p>-</p>
						{% else %}
							<p>{{ movie.rating.kp|floatformat:1 }}</p>
						{% endif %}
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Year:</label>
						{% if movie.year == 0.0 %}
						    <p>-</p>
						{% else %}
							<p>{{ movie.year|floatformat:0 }}</p>
						{% endif %}
					</div>

					<div class="movie-info-item movie-genre-list">
						<label class="movie-info-label">Genres:</label>
						<ul>
						{% if movie.genres|length == 0 %}
							<li>-</li>
						{% else %}
							{% for genre in movie.genres %}
								<li>{{ genre.name }}</li>
							{% endfor %}
						{% endif %}
						</ul>
					</div>
				</div>
			</a>
		{% endfor %}
		</div>

		<div id="pagination" data-pagination-pages="{{ pages|floatformat:0 }}"></div>
	</div>
	<script type="text/javascript" src="/static/js/pagination.js"></script>
{% endblock %}
