<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/search.css">
	<script type="text/javascript" src="../static/js/base.js"></script>
	<title>Filmer</title>
</head>
<body>
	<header>
		<nav>
			<div class="logo-container">
				<button class="nav-elem logo"><a href="./index.html">
					<img src="../static/img/favicon.ico" alt="logo">
				</a></button>
			</div>
			<div class="right-nav-container">
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-search-link" href="./search.html">search</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-stared-link" href="./stared.html">stared</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-want-link" href="#">want</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-watched-link" href="#">watched</a>
				</button>

				<button class="nav-elem profile"><a href="./profile.html">
					<img src="../static/img/profile.svg" alt="profile">
				</a></button>
			</div>
		</nav>

		<h1 class="title">Filmer</h1>
	</header>

	<div class="content flex-content">
		<h3>Search movies</h3>

		<form class="search-form" action="#" method="post">
			<div class="form-input">
				<img src="../static/img/search.svg">
				<input class="form-elem" type="text" id="search-keyword" name="search-keyword" placeholder="search movies">
			</div>
			<button class="form-elem" type="submit">Search</button>
		</form>

		<div class="list-movies">
			<div class="movie">
				<div class="movie-poster">
					<img src="../static/img/non_poster.svg">
				</div>
				<a class="movie-info" href="#{{kinopoiskID}}">
					<div class="movie-info-item">
						<label class="movie-info-label">Title:</label>
						<p>Матрица</p>
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Type:</label>
						<p>фильм</p>
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Rating:</label>
						<p>8.5</p>
					</div>

					<div class="movie-info-item">
						<label class="movie-info-label">Year:</label>
						<p>1999</p>
					</div>

					<div class="movie-info-item movie-genre-list">
						<label class="movie-info-label">Genres:</label>
						<ul>
							<li>боевик</li>
							<li>фантастика</li>
							<li>комедия</li>
							<li>фентези</li>
						</ul>
					</div>
				</a>
			</div>

			<div class="movie">
				<div class="movie-poster">
					<img src="../static/img/non_poster.svg">
				</div>
				<a class="movie-info" href="#{{kinopoiskID}}">
					<div class="movie-info-item movie-title">
						<label class="movie-info-label">Title:</label>
						<p>Матрица</p>
					</div>

					<div class="movie-info-item movie-type">
						<label class="movie-info-label">Type:</label>
						<p>фильм</p>
					</div>

					<div class="movie-info-item movie-rating">
						<label class="movie-info-label">Rating:</label>
						<p>8.5</p>
					</div>

					<div class="movie-info-item movie-year">
						<label class="movie-info-label">Year:</label>
						<p>1999</p>
					</div>

					<div class="movie-info-item movie-genre-list">
						<label class="movie-info-label">Genres:</label>
						<ul>
							<li>боевик</li>
							<li>фантастика</li>
						</ul>
					</div>
				</a>
			</div>

			<div class="movie">
				<div class="movie-poster">
					<img src="../static/img/non_poster.svg">
				</div>
				<a class="movie-info" href="#{{kinopoiskID}}">
					<div class="movie-info-item movie-title">
						<label class="movie-info-label">Title:</label>
						<p>Матрица</p>
					</div>

					<div class="movie-info-item movie-type">
						<label class="movie-info-label">Type:</label>
						<p>фильм</p>
					</div>

					<div class="movie-info-item movie-rating">
						<label class="movie-info-label">Rating:</label>
						<p>8.5</p>
					</div>

					<div class="movie-info-item movie-year">
						<label class="movie-info-label">Year:</label>
						<p>1999</p>
					</div>

					<div class="movie-info-item movie-genre-list">
						<label class="movie-info-label">Genres:</label>
						<ul>
							<li>боевик</li>
							<li>фантастика</li>
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
