<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/css/stared_want_watched.css">
	<script type="text/javascript" src="../static/js/base.js"></script>
	<title>Filmer</title>
</head>
<body>
	<header>
		<nav>
			<div class="logo-container">
				<button class="nav-elem logo"><a href="./index.html">
					<img src="../static/img/favicon.ico" alt="logo">
				</a></button>
			</div>
			<div class="right-nav-container">
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-search-link" href="./search.html">search</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-stared-link" href="./stared.html">stared</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-want-link" href="#">want</a>
				</button>
				<button class="nav-elem nav-menu-button-elem">
					<a id="menu-watched-link" href="#">watched</a>
				</button>

				<button class="nav-elem profile"><a href="./profile.html">
					<img src="../static/img/profile.svg" alt="profile">
				</a></button>
			</div>
		</nav>

		<h1 class="title">Filmer</h1>
	</header>

	<div class="content flex-content">
		<h3>Stared movies</h3>

		<div class="flex-columns">
			<div class="settings">
				<span class="accent">Order</span>

				<div class="radio-button">
					<input type="radio" name="order-field" value="title" id="order-field-title"/>
					<label for="order-field-title">title</label>
				</div>

				<div class="radio-button">
					<input type="radio" name="order-field" value="rating" id="order-field-rating"/>
					<label for="order-field-rating">rating</label>
				</div>

				<div class="radio-button">
					<input type="radio" name="order-field" value="year" id="order-field-year"/>
					<label for="order-field-year">year</label>
				</div>

				<div class="radio-button">
					<input type="radio" name="order-field" value="updated_at" id="order-field-updated_at" checked/>
					<label for="order-field-updated_at">updated at</label>
				</div>

				<div class="radio-button-switch">
					<div class="radio-button-switch-item">
						<input id="order-direction-asc" type="radio" name="order-direction" value="asc" checked>
						<label for="order-direction-asc">ASC</label>
					</div>
					<div class="radio-button-switch-item">
						<input id="order-direction-desc" type="radio" name="order-direction" value="desc"checked>
						<label for="order-direction-desc">DESC</label>
					</div>
				</div>
			</div>
			<div class="settings">
				<span class="accent">Filters</span>

				<div>
					<ul>
						<li>боевик</li>
						<li>комедия</li>
						<li>драма</li>
						<li>фантастика</li>
						<li>приключения</li>
						<li>триллер</li>
						<li>ужасы</li>
						<li>детектив</li>
						<li>криминал</li>
						<li>фэнтези</li>
						<li>военный</li>
						<li>мелодрама</li>
						<li>мюзикл</li>
						<li>вестерн</li>
						<li>спорт</li>
						<li>биография</li>
						<li>документальный</li>
						<li>короткометражка</li>
						<li>мультфильм</li>
						<li>семейный</li>
						<li>история</li>
						<li>музыка</li>
						<li>фильм-нуар</li>
						<li>аниме</li>
						<li>игра</li>
						<li>детский</li>
						<li>ток-шоу</li>
						<li>новости</li>
						<li>для взрослых</li>
						<li>концерт</li>
						<li>церемония</li>
						<li>реальное ТВ</li>
					</ul>
				</div>
			</div>

			<div class="list-movies"></div>
		</div>
	</div>
</body>
</html>
